{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <h1>{{ 'categorie.titre'|trans }}</h1>
    <p>{{ 'categorie.nb'|trans({'%nb%': categories|length}) }}</p>
    {% if categories is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>{{'Nom'|trans}}</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for cat in categories %}
                    <tr>
                        <td>{{ cat.nom }}</td>
                        <td>{{ cat.description }}</td>
                        <td>
                            <a href="{{path('category', {'id': cat.id})}}">
                                Afficher
                            </a>
                            <a href="{{path('delete_category', {'id':cat.id})}}" class="btn btn-danger">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a aucune catégorie</p>
    {% endif %}

    {{ form(ajout) }}
{% endblock %}
